/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.idea
*.iml
.lei-repl-history
i-am-a-horse-in-the-land-of-booleans.iml
.midje-grading-config.clj
*.iml

